<div class="container text-center">
<h1>關於我們</h1>
</div>

<div class="container">
	<h3>我們是ㄧ群很理智的消費者、只想使用安全、沒有過多無益的添加物、對自己有效的化妝品。因此，我們決定集結消費大眾的力量，ㄧ起檢驗化妝品的實質內容：</h3>
</div>


<div class="container">
	<h3>你懷疑過保養品到底有沒有效嗎？</h3>
	<p>每個月Google關鍵字搜尋中，「化妝品成分」比「化妝品推薦」的搜尋量高出了十倍，可見得很多人關注化妝品成份有沒有效。</p> <br>
	<p>關於化妝品有沒有效目前是沒有客觀解答的，因為台灣的法規只會要求成分的最高濃度限量，以確保消費者在使用時的安全性，並沒有要求廠商一定要添加能達到實質效果的最低濃度。而消費者個人把化妝品送驗也會非常貴。</p>	 <br> 
	<h4>因此，我們決定提供消費者最透明的產品：</h4><br> 
	<h4>只要你參與我們的產品預購，累績到固定人數後，我們會幫助你把化妝品送驗，收到分析結果報告後，你可以決定實際購買產品，或是選擇扣除百元檢驗費用後退款。</h4>
</div>