<div class="container text-center">
	<h1>聯絡我們</h1>
</div>
<div class="container text-center">
	<h4>如果你對我們的理念有興趣，想要了解更多資訊，請email我們：</h4>
	<h4>contactme@purecosmetic.com</h4>
	<i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
</div>