<div class="container text-center" >
	<% if @order.status == "new" %>
		<h1>請確認訂單資訊</h1>
	<% else %> 
		<h1>付款成功，謝謝您的訂購</h1>
	<% end %>
</div>
<div class="container">


<p><i class="fa fa-info fa-2x" aria-hidden="true">付款方式:</i> <%= @order.payment_method %></p>
<p><i class="fa fa-info fa-2x" aria-hidden="true">運送方式:</i> <%= @order.shipping_method %></p>
<p><i class="fa fa-info fa-2x" aria-hidden="true">訂單金額:</i> NT$ <%= @order.amount %></p>



<% if @order.status == "new" %>
  <%= link_to '付款' , class:"btn-default"%>
<% end %>

</div>