/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "products";

body{
	padding-top: 100px; 
  box-sizing: border-box;
  font-size: 16px;
}

i{
	color: rgba(10,186,181,1);
}

h1, h2, h3 {
	color: rgba(10,186,181,1);
}

.navbar-right{
  margin-right: 30px;
}

.navbar-fixed-top{
  background-color: rgba(10,186,181,1);
}

.navbar-brand{
  margin-right: 300px;
} 

a{
  font-size: 16px;
  color: rgba(10,186,181,1);
  font-weight: 350px;
  text-decoration: none;
  margin-right:0px;
}
  a:hover{
    color: rgba(10,186,181,1);
    text-decoration: none;

  }

  .navbar-nav>li>a{
    color: #fff !important;
  }
  .login:focus {
  background-color: #fff!important;
  color: rgba(10,186,181,1)!important;
  text-decoration: none;
  }

.btn-default{
  background-color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size:16px;
  border-color: rgba(10,186,181,1);
  color: rgba(10,186,181,1);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.btn-default:hover{
	text-decoration: none;
  border-radius: 3px;
	background-color: rgba(10,186,181,1);
	color: #fff;
}
