// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info{
	max-width: 500px;
}
.col-md-4, .col-md-8{
	min-height: 200px;
}

.btn-info{
	background-color : rgba(0,0,0,0);
	border-style: none;
}
.btn-info:hover {
	background-color : rgba(0,0,0,0);
	border-style: none;
}

.btn-info:focus {
	background-color : rgba(0,0,0,0);
	border-style: none;
}