<h1>Product首頁</h1>
<% @products.each do |p| %>
<table>
		<tr>
		 	<td>
				<%= image_tag(p.image) %>
			</td>
		</tr>
		<tr>
		 	<td>
				<p>產品名稱: <%= p.name %></p> 
			</td>
		</tr>
		<tr>
			<td>
				<p>價格: NT$<%= p.price %></p>
			</td> 
		</tr>
		<tr>
		 	<td>
				<%= link_to '查看更多', product_path(p) %>
			</td>
			
		</tr>	

<% end %>